<li>
	{{burger_name}}

	<button class="EatIt" data-id="{{id}}" data-eataBurger="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}I'm Hungry!{{/if}}
	</button>

 	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> 
</li> 